.tic-tac-toe {
  height: 300px;
  width: 300px;
  background: #eeeeee;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 5rem auto;
  cursor: pointer;
}

.tic-tac-toe-state {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 4rem;
  font-weight: bold;
}

p {
  text-align: center;
}

.reset-btn {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
